.footer {
    margin: 2rem;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #264653;
}

.redes img {
    width: 1000%;
	max-width: 100px;
	height: 50%;
	max-height: 50px;
    display: inline;
    justify-content: center;
    
}


@media (max-width:768px){
    .footer {
        margin: 2rem;
        display: block;
        justify-content: flex-start;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #264653;
}
}