*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #f4a261;
    background: linear-gradient(329.54deg, #264653 0%, #2a9d8f 100%);
}

body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}